<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<p>
  <button mat-button (click)="toggle($event)">Toggle</button>
</p>

<div
  style="height: 300px; border: 1px solid red; width: 50%; margin: 0 auto"
  *ngIf="step === 1"
  [@slideInOut]
>
  1
</div>
<div
  style="height: 300px; border: 1px solid red ; width: 50%; margin: 0 auto"
  *ngIf="step === 2"
  [@slideInOut]
>
  2
</div>
<div
  style="height: 300px; border: 1px solid red ; width: 50%; margin: 0 auto"
  *ngIf="step === 3"
  [@slideInOut]
>
  3
</div>
<div
  style="height: 300px; border: 1px solid red ; width: 50%; margin: 0 auto"
  *ngIf="step === 4"
  [@slideInOut]
>
  4
</div>
<div
  style="height: 300px; border: 1px solid red ; width: 50%; margin: 0 auto"
  *ngIf="step === 5"
  [@slideInOut]
>
  5
</div>
<div
  style="height: 300px; border: 1px solid red ; width: 50%; margin: 0 auto"
  *ngIf="step === 6"
  [@slideInOut]
>
  6
</div>
<div
  style="height: 300px; border: 1px solid red ; width: 50%; margin: 0 auto"
  *ngIf="step === 7"
  [@slideInOut]
>
  7
</div>
